@font-face {
    font-family: "FranklinITCProBold";
    font-style: normal;
    font-weight: 400;
    src: url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-2.eot?") format("embedded-opentype"), url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-3.woff") format("woff"), url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-1.ttf") format("truetype"), url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-4.svg#web") format("svg");
}

@font-face {
    font-family: "FranklinITCProLight";
    font-style: normal;
    font-weight: 400;
    src: url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-2.eot?") format("embedded-opentype"), url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-3.woff") format("woff"), url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-1.ttf") format("truetype"), url("https://css.washingtonpost.com/video/resources/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-4.svg#web") format("svg");
}
@font-face {
    font-family: "FranklinITCProThin";
    src: url("https://css.washingtonpost.com/wp-stat/wapo-sass-assets/fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-2.eot");
    src: url("https://css.washingtonpost.com/wp-stat/wapo-sass-assets/fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-2.eot?") format("embedded-opentype"), url("https://css.washingtonpost.com/wp-stat/wapo-sass-assets/fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-3.woff") format("woff"), url("https://css.washingtonpost.com/wp-stat/wapo-sass-assets/fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-1.ttf") format("truetype"), url("https://css.washingtonpost.com/wp-stat/wapo-sass-assets/fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-4.svg#web") format("svg");
    font-style: normal;
    font-weight: normal;
}
