.pulse-wrapper { 
	border-radius: 4px;
    border: 1px solid #e9e9e9;
    border-bottom-color: #d5d5d5;
    border-bottom-width: 2px;
}

.pulse-article-list-wrapper { 
	border: none;
	border-radius: 0;
}

.pulse-player-wrapper {
    background-color: #000000;
    cursor: pointer;
    height: 248px;
    position: relative;
    width: 298px;
    /*height: 0;
    padding-bottom: 56.25%;*/
}

.pulse-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pulse-player-poster {
	visibility: hidden;
    background-image: url('https://www.washingtonpost.com/wp-stat/advertising/WellsFargo/WF_300x600_Video/images/wellsfargo-poster.png');
    background-repeat: no-repeat;
    height: 250px;
    position: absolute;
    width: 300px;
    z-index: 1px;
}

.pulse-player-play,
.pulse-player-pause { 
	color: #ffffff;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	opacity: 0.75;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	top: 50%;
    transform: translateY(-50%);
    width: 65px;
    z-index: 2;
}

.pulse-player-active .pulse-player-volume { 
	bottom: 10px;
	right: 10px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 2;
}

.lt-ie10 .pulse-player-play,
.lt-ie10 .pulse-player-pause,
.lt-ie10 .pulse-player-volume { 
    display: none;
}
