<link rel="stylesheet" type="text/css" href="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/css/300x600/main.css">
<div class="pulse-wrapper" data-click="%%CLICK_URL_ESC%%%%DEST_URL%%">
    <div>
            <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank"><img src="https://www.washingtonpost.com/wp-stat/incontext/assets/3ac4d28e-42fe-46b6-bcfc-8ed9ebd32af7.jpg" alt"" border="0" /></a>
        
    </div>
    <div class="pulse-article-list-wrapper">
        <div class="pulse-article-label">
            <div class="pulse-article-label-small">Content Sponsored By Amazon Web Services</div>
            <div class="pulse-article-logo">
                <img class="pulse-article-logo-sm" src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/images/wp_logo.png" alt="" border="0" />
            </div>
        </div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div id="articles"></div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div class="pulse-footer">
            <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank">
                <img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/incontext/assets/e3fc8149-85d1-4845-b731-13b9ecd0417d.png&h=40" alt="" border="0" />
            </a>
        </div>
        <div class="pulse-tracking-wrapper">
          <!-- PLACE TRACKING PIXEL CODE HERE -->
          
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/js/300x600/scripts.min.js"></script>
<script type="text/javascript" src="https://wp-stat.s3.amazonaws.com/incontext/postpulse/loader.js?1">
</script>
<script type="text/javascript">
loadArticles(3448639, "desktop");
</script>