<script type="text/javascript">
var linkClickPixel = 'https://pubads.g.doubleclick.net/gampad/ad?iu=701/wpni.clientmarketing/BPppdeskart&sz=1x1&c=%%CACHEBUSTER%%';
</script>
<link rel="stylesheet" type="text/css" href="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/css/300x600/main.css">
<div class="pulse-wrapper" data-click="%%CLICK_URL_ESC%%https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=bisi&pli=18439636&pi=0&p=&pos=9425&ai=37785452">
    <div>
        <div class="pulse-player-wrapper">
            <i class="fa fa-4x fa-play-circle-o pulse-player-play"></i>
            <i class="fa fa-volume-up pulse-player-volume"></i>
            <video id="pulse-player" class="pulse-player" poster="https://www.washingtonpost.com/wp-stat/incontext/assets/ed9af3de-fc11-48fe-afb7-7cba8c651d2e.png">
                <source src="https://www.washingtonpost.com/wp-stat/advertising/BP/postPulse/BP_640_360_600.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
    <div class="pulse-article-list-wrapper">
        <div class="pulse-article-label">
            <div class="pulse-article-label-small">Content Selected By BP</div>
            <div class="pulse-article-logo">
                <img class="pulse-article-logo-sm" src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/images/wp_logo.png" alt="" border="0" />
            </div>
        </div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div id="articles"></div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div class="pulse-footer">
            <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank">
                <img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/incontext/assets/09c05888-2808-4a17-a628-120f559ab267.png&h=40" alt="" border="0" class="pulse-footer-logo" />
            </a>
        </div>
        <div class="pulse-tracking-wrapper">
            <!-- PLACE TRACKING PIXEL CODE HERE -->
            <img src="https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=19&mc=imp&pli=18439635&PluID=0&ord=%%CACHEBUSTER%%&rtu=-1" />
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/min/scripts-2.0.0.min.js"></script>
<script type="text/javascript" src="https://wp-stat.s3.amazonaws.com/incontext/postpulse/loader.js?1">
</script>
<script type="text/javascript">
loadArticles(3469952, "desktop");
</script>
