<div>
    <link rel="stylesheet" type="text/css" href="../css/min/main-3.0.0.min.css" />
    <div class="pulse-wrapper sponsored" data-click="%%CLICK_URL_ESC%%%%DEST_URL%%" data-track="">
        <div>
            <div>
                <a href="http://chinawatch.washingtonpost.com/" target="_blank"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/ad/public/static/ad-builder/thoughtless-handsome-loaves/adv.jpg&amp;h=250&amp;w=300" alt="" style="border:0;" /></a>
            </div>
        </div>
        <div id="articles" class="pulse-article-list-wrapper" style="display:none;">
            <div class="pulse-label-sponsor pulse-label-sponsor-all">
                <div class="pulse-article-label-small">
                    Content from China Watch
                </div>
            </div>
            <ul class="pulse-article-list" data-maxlength="3" data-sponsorall="true" data-feed="https://pulse-feed-proxy.ext.nile.works/?url=http://chinawatch.washingtonpost.com/feed"></ul>
            <div class="pulse-footer">
                <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/ad/public/static/ad-builder/thoughtless-handsome-loaves/footer_links_v2.png&amp;h=40" alt="" class="pulse-footer-logo" style="border:0;width:43%;" /></a>
            </div>
        </div>
        <div class="pulse-tracking-wrapper" style="display:none;"></div>
    </div>
    <script type="text/javascript" src="../js/min/scripts-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://www.washingtonpost.com/wp-stat/advertising/resizeIframe.js"></script>
</div>
