<!-- Remove jquery before trafficking in dfp -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/css/300x600/main.css">
<div class="pulse-wrapper" data-click="%%CLICK_URL_ESC%%%%DEST_URL%%" data-track="https://ad.doubleclick.net/N701/ad/wpni.clientmarketing/lincolnpulse1;sz=1x1;ord=">
    <div class="pulse-player-wrapper">
        <i class="fa fa-4x fa-play-circle-o pulse-player-play"></i>
        <i class="fa fa-volume-up pulse-player-volume"></i>
        <video id="pulse-player" class="pulse-player" data-current-time="0.25">
            <source src="https://www.washingtonpost.com/wp-stat/advertising/Lincoln/Lincoln_300x600/lincoln_MKX_2016.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="pulse-article-list-wrapper">
        <div class="pulse-article-label">
            <div class="pulse-article-label-small">Content Selected By Lincoln</div>
            <div class="pulse-article-logo"><img src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/images/WashPost-Logo-200x30.png" alt="" border="0" width="108" /></div>
        </div>
        <ul class="pulse-article-list">
            <li class="pulse-article-list-item">
                <div class="pulse-article-thumb-wrapper">
                    <a href="https://www.washingtonpost.com/news/innovations/wp/2016/01/06/the-10-edgiest-innovation-concepts-of-2016/" target="_top"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://img.washingtonpost.com/rf/image_908w/2010-2019/WashingtonPost/2015/12/22/Health-Environment-Science/Images/2015-12-22T044741Z_01_SRR01_RTRIDSP_3_USA-SPACEX.jpg&h=60&w=60" border="0" class="pulse-article-thumbnail"></a>
                </div>
                <div class="pulse-article-number">1</div>
                <div class="pulse-article-desc-wrapper">
                    <p class="pulse-article-desc"><a href="https://www.washingtonpost.com/news/innovations/wp/2016/01/06/the-10-edgiest-innovation-concepts-of-2016/?spon_con=ppulse_lincoln1" class="pulse-article-desc-link" target="_top">The 10 edgiest innovation ideas of 2016</a></p>
                </div>
            </li>
            <li class="pulse-article-list-item">
                <div class="pulse-article-thumb-wrapper">
                    <a href="https://www.washingtonpost.com/news/innovations/wp/2016/01/13/how-nasas-planetary-defense-officer-will-protect-earth-from-asteroids/" target="_top"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://img.washingtonpost.com/blogs/innovations/files/2016/01/rsz_bopps_nightstarshot.jpg&h=60&w=60" class="pulse-article-thumbnail pulse-article-thumb-border"></a>
                </div>
                <div class="pulse-article-number">2</div>
                <div class="pulse-article-desc-wrapper">
                    <p class="pulse-article-desc"><a href="https://www.washingtonpost.com/news/innovations/wp/2016/01/13/how-nasas-planetary-defense-officer-will-protect-earth-from-asteroids/?spon_con=ppulse_lincoln1" class="pulse-article-desc-link" target="_top">How NASA’s planetary defense officer will protect Earth from asteroids</a></p>
                    </a>
                </div>
            </li>
            <li class="pulse-article-list-item">
                <div class="pulse-article-thumb-wrapper">
                    <a href="https://www.washingtonpost.com/lifestyle/wellness/the-fitness-fads-that-should-fade-in-2016/2015/12/31/2d046056-ad9c-11e5-b820-eea4d64be2a1_story.html" target="_top"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2015/12/31/Production/LocalLiving/Images/iStock_000052925932_Full.jpg&h=60&w=60" border="0" class="pulse-article-thumbnail"></a>
                </div>
                <div class="pulse-article-number">3</div>
                <div class="pulse-article-desc-wrapper">
                    <p class="pulse-article-desc"><a href="https://www.washingtonpost.com/lifestyle/wellness/the-fitness-fads-that-should-fade-in-2016/2015/12/31/2d046056-ad9c-11e5-b820-eea4d64be2a1_story.html?spon_con=ppulse_lincoln1" class="pulse-article-desc-link" target="_top">Fitness fads that should fade in 2016</a></p>
                </div>
            </li>
        </ul>
        <div class="pulse-footer">
            <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank"><img src="https://www.washingtonpost.com/wp-stat/advertising/Lincoln/Lincoln_300x600/lincoln_MKX_logo.png" alt="" border="0" height="36" width="100%" /></a>
        </div>
    </div>
    <div class="pulse-tracking-wrapper"></div>
</div>
<script type="text/javascript" src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/js/300x600/scripts.min.js"></script>
<!--script src="/js/min/scripts.min.js"></script>
<script src="/js/jsLoader.js"></script>
<script src="/js/player.js"></script-->