<link rel="stylesheet" type="text/css" href="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/css/300x600/main.css">
<div class="pulse-wrapper" data-click="%%CLICK_URL_ESC%%%%DEST_URL%%">
    <div>
        <iframe src="https://www.washingtonpost.com/wp-stat/advertising/UnitedHealthGroup/uhg-pulse-300x250.html" border="0" frameborder="0" height="250" scrolling="no" width="300"></iframe>
        <a class="pulse-article-ad-click" href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank"></a>
    </div>
    <div class="pulse-article-list-wrapper">
        <div class="pulse-article-label">
            <div class="pulse-article-label-small">Content Sponsored By UnitedHealth Group</div>
            <div class="pulse-article-logo">
                <img src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/images/wp_logo.png" class="pulse-article-logo pulse-article-wp-logo pulse-article-logo-sm" border="0" width="23" />
            </div>
        </div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div id="articles"></div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div class="pulse-footer">
            <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank">
                <img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/incontext/assets/a55a9565-c1ec-4bb3-be48-38c799d54e3a.png&h=11" alt="" border="0" />
            </a>
        </div>
        <div class="pulse-tracking-wrapper">
            <!-- PLACE TRACKING PIXEL CODE HERE -->
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/js/300x600/scripts.min.js"></script>
<script type="text/javascript" src="https://wp-stat.s3.amazonaws.com/incontext/postpulse/loader.js?1">
</script>
<script type="text/javascript">
loadArticles(3449571, "desktop");
</script>
