<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="stylesheet" type="text/css" href="../slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css" /-->
    <link rel="stylesheet" href="../css/main.css">
    <!--link rel="stylesheet" href="https://css.washingtonpost.com/pb/resources/assets/fonts/fontawesome/latest/css/font-awesome.css"-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>

<body>
    <!-- Add your site or application content here -->
    <div class="pulse-bb-wrapper">
        <!--div class="pulse-bb-ad-wrapper">
            <div class="pulse-bb-ad"></div>
        </div-->
        <div class="pulse-player-wrapper pulse-player-no-ctrls" style="display:inline-block;vertical-align:middle;">
            <i class="fa fa-4x fa-play-circle-o pulse-player-play"></i>
            <i class="fa fa-volume-up pulse-player-volume"></i>
            <video id="pulse-player" class="pulse-player" poster="https://www.washingtonpost.com/wp-stat/advertising/ATT/pulse/images/att_unlock_poster.jpg" preload="none" autoplay>
                <source src="http://videoads.washingtonpost.com/pulse_att_unlock_640_360_600.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="pulse-bb-slideshow-wrapper">
            <div class="pulse-bb-label">
                <div class="pulse-bb-label-sponsor">Content Selected By AT&T</div>
                |<img src="https://img.washingtonpost.com/wp-stat/advertising/WellsFargo/WF_300x250_Mobile/images/WashPost
-Logo.png" class="pulse-article-logo pulse-article-wp-logo" border="0" width="112" />
                <a href="%%CLICK_URL_UNESC%%" target="_blank" class="pulse-bb-sponsor-logo"><img src="https://www.washingtonpost.com/wp-stat/advertising/ATT/pulse/images/att_globe_rgb_pos.jpg" class="pulse-article-logo pulse-article-client-logo pulse" border="0" width="22"></a>
            </div>
            <div class="pulse-bb-slideshow">
                <div class="pulse-bb-slides">
                    <div class="pulse-bb-slide">
                        <div class="pulse-bb-slide-img">
                             <a href="https://www.washingtonpost.com/news/the-switch/wp/2016/01/15/what-to-expect-from-virtual-reality-in-2016/?spon_con=ppulse_att1" target="_top"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=http://img.washingtonpost.com/rf/image_908w/2010-2019/Wires/Images/2014-06-14/Reuters/2014-06-15T033750Z_01_KDJ040_RTRIDSP_3_VIDEOGAMES-VIRTUALREALITY.jpg&h=100&w=100" border="0"></a>
                        </div>
                        <div class="pulse-bb-slide-desc">
                            <a href="https://www.washingtonpost.com/news/the-switch/wp/2016/01/15/what-to-expect-from-virtual-reality-in-2016/?spon_con=ppulse_att1" class="pulse-article-desc-link" target="_top">What to expect from virtual reality in 2016</a>
                        </div>
                    </div>
                    <div class="pulse-bb-slide">
                        <div class="pulse-bb-slide-img">
                            <a href="https://www.washingtonpost.com/news/innovations/wp/2016/01/06/the-10-edgiest-innovation-concepts-of-2016/?spon_con=ppulse_att1" target="_top"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=http://img.washingtonpost.com/rf/image_908w/2010-2019/WashingtonPost/2015/12/22/Health-Environment-Science/Images/2015-12-22T044741Z_01_SRR01_RTRIDSP_3_USA-SPACEX.jpg&h=100&w=100"></a>
                        </div>
                        <div class="pulse-bb-slide-desc">
                            <a href="https://www.washingtonpost.com/news/innovations/wp/2016/01/06/the-10-edgiest-innovation-concepts-of-2016/?spon_con=ppulse_att1" class="pulse-article-desc-link" target="_top">The 10 edgiest innovation ideas of 2016</a>
                        </div>
                    </div>
                    <div class="pulse-bb-slide">
                        <div class="pulse-bb-slide-img">
                            <a href="https://www.washingtonpost.com/news/innovations/wp/2015/12/30/7-of-the-biggest-innovations-that-made-headlines-in-2015/?spon_con=ppulse_att1" target="_top"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=http://www.washingtonpost.com/blogs/innovations/files/2015/12/21981159388_e1fd235714_k.jpg&h=100&w=100" border="0"></a>
                        </div>
                        <div class="pulse-bb-slide-desc">
                            <a href="https://www.washingtonpost.com/news/innovations/wp/2015/12/30/7-of-the-biggest-innovations-that-made-headlines-in-2015/?spon_con=ppulse_att1" class="pulse-article-desc-link" target="_top">7 of the biggest innovations that made headlines in 2015</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="../js/min/scripts.min.js"></script>
        <!--script type="text/javascript">
        $(document).ready(function() {
            $('.pulse-bb-slides').slick({
                lazyLoad: 'ondemand',
                slidesToShow: 2,
                slidesToScroll: 1
            });
        });
        </script-->
</body>

</html>
