.pulse-mobile-wrapper {
    background-color: #000000;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #000000;
    box-sizing: border-box;
    height: 250px;
    margin: 0 auto;
    min-height: 250px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.pulse-mobile-header,
.pulse-mobile-footer {
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.pulse-mobile-header {
    background-color: #ffffff;
    border-radius: 3px 3px 0 0;
    top: 0;
}

.pulse-article-label {
    font-family: "FranklinITCProBold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 10px 10px 0 10px;
}

.pulse-label-sponsor { 
    padding: 0 10px;
    position: relative;
}

.pulse-article-label:before {
    background-color: #2A2A2A;
    content: "";
    display: block;
    font-family: "FranklinITCProBold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 0.25rem;
    margin-bottom: 0.625rem;
    width: 2rem;
}

.pulse-info-icon {
    background-image: url("https://css.washingtonpost.com/wp-srv/ad/public/brandconnect/modulev3/images/glyphicons_195_circle_info_grey.png");
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 10px
}

.pulse-info-popup {
    background-color: #d3d3d3;
    display: none;
    width: 200px;
    position: absolute;
    line-height: 1.2em;
    font-family: FranklinITCProLight,HelveticaNeue,Helvetica,Arial,sans-serif;
    top: -3px;
    right: 0px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 9px;
    padding: 10px;
    z-index: 10;
    border: 1px solid #000
}

.pulse-info-popup:hover {
    display:block
}

.pulse-info-icon:hover ~ span.pulse-info-popup {
    display:block
}

.pulse-info-popup a, 
.pulse-info-popup a:visited { 
    color: #000000;
    text-decoration: underline;
 }

.pulse-article-logo-wrapper {
    font-family: "FranklinITCProLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    float: left;
    margin-top: -5px;
    width: auto;
}

.pulse-article-logo {
    display: inline-block;
    vertical-align: middle;
}

.pulse-article-wp-logo {
    padding-left: 5px;
}

.pulse-article-client-logo {
    padding-right: 5px;
}

.pulse-article-label-small {
    float: left;
    font-family: "FranklinITCProLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 11px;
    padding-right: 5px;
}

.pulse-mobile-logo {
    background-image: url(https://www.washingtonpost.com/wp-stat/advertising/PostPulse/images/Logo-TWP-White.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 53px;
    background-size: 90%;
    right: 2px;
    display: block;
    height: 23px;
    width: 110px;
}

.pulse-mobile-footer-wrapper { 
    background-color: #ffffff;
}

.pulse-mobile-footer-logo {
    max-width: 260px;
}

.pulse-label-sponsor { 
    display: none;
 }

.pulse-sponsored .pulse-mobile-header,
.pulse-sponsored .pulse-mobile-footer {
    background-color: #eaeaea;
}

.pulse-feed .pulse-article-label-small,
.pulse-sponsored .pulse-article-label-small { 
    display: none;
 }
 
.pulse-feed .pulse-label-sponsor,
.pulse-sponsored .pulse-label-sponsor,
.pulse-label-sponsor .pulse-article-label-small { 
    display: block;
 }

 .pulse-sponsored .pulse-mobile-logo {
    display: none;
 }

/*.pulse-mobile-footer-logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}*/

.pulse-mobile-footer-client-logo { 
    padding: 0 10px 0 10px;
    position: relative;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pulse-mobile-desc-wrapper {
    background: rgba(0, 0, 0, 0.3);
    height: 250px;
    position: relative;
    width: 300px;
}

.pulse-mobile-desc-label { 
    font-size: 12px;
    text-transform: capitalize;
}

.pulse-mobile-desc {
    color: #ffffff;
    font-family: "FranklinITCProBold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
}

.pulse-mobile-desc-link {
    text-decoration: none;
    color: inherit;
}

.pulse-mobile-desc-link:hover {
    color: inherit;
}

.pulse-mobile-desc-text,
.pulse-mobile-article-readmore {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.pulse-mobile-desc-text {
    margin: 0 auto;
    padding: 10px 0;
}

.pulse-mobile-article-readmore {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.pulse-mobile-article-readmore .fa-angle-double-right {
    font-size: 8px;
    height: 11px;
    vertical-align: middle;
}

.pulse-mobile-slide-img {
    display: none;
}

.pulse-mobile-ad-slide-wrapper {
    height:250px;
    position:relative;
}

.pulse-mobile-ad-slide-inner {
    height:249px;
    left:-1px;
    overflow:hidden;
    position:absolute;
    width:300px;
    top:-1px;
}

.pulse-mobile-footer {
    bottom: 0;
    border-radius: 0 0 3px 3px;
}

.pulse-mobile {
    background-color: #000000;
    margin: 0 auto;
    min-height: 250px;
    width: 300px;
}

.slick-slide img {
    user-select: none;
}

.slick-slide {
    background-repeat: no-repeat;
    background-position: center;
}

.pulse-player-mobile {
    width: 100%;
    height: 100%;
}

.pulse-tracking-wrapper {
    display: none;
}
