<link rel="stylesheet" type="text/css" href="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/css/mobile-300x250/main.css">
<div class="pulse-mobile-wrapper" data-click="%CLICK_URL_ESC%%DEST_URL%">
    <div class="pulse-mobile-header js-pulse-animate">
        <div class="pulse-article-label">
            <div class="pulse-article-label-small">Content Selected By AMC</div>
            <div class="pulse-article-logo-wrapper">
                |<img src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/images/wp_logo.png" class="pulse-article-logo pulse-article-wp-logo pulse-article-logo-sm" border="0" width="23" />
            </div>
        </div>
    </div>
    <div class="pulse-mobile">
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div id="articles"></div>
        <div id="pulse-mobile-ad-iframe">
            <noscript>
            <IFRAME SRC="https://ad.doubleclick.net/ddm/adi/N4427.washingtonpost.com/B9542911.130375155;sz=300x250;kw=[url_encoded_publisher_data];ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR='#000000'>
                <SCRIPT language='JavaScript1.1' SRC="https://ad.doubleclick.net/ddm/adj/N4427.washingtonpost.com/B9542911.130375155;abr=!ie;sz=300x250;kw=[url_encoded_publisher_data];ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?">
                </SCRIPT>
                <NOSCRIPT>
                    <A HREF="https://ad.doubleclick.net/ddm/jump/N4427.washingtonpost.com/B9542911.130375155;abr=!ie4;abr=!ie5;sz=300x250;kw=[url_encoded_publisher_data];ord=[timestamp]?">
                        <IMG SRC="https://ad.doubleclick.net/ddm/ad/N4427.washingtonpost.com/B9542911.130375155;abr=!ie4;abr=!ie5;sz=300x250;kw=[url_encoded_publisher_data];ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" BORDER=0 WIDTH=300 HEIGHT=250 ALT="Advertisement">
                    </A>
                </NOSCRIPT>
            </IFRAME>
            </noscript>
        </div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
    </div>
    <div class="pulse-mobile-footer pulse-mobile-footer-wrapper js-pulse-animate">
        <div class="pulse-mobile-footer-client-logo">
            <a href="%CLICK_URL_ESC%%DEST_URL%" class="pulse-mobile-desc-link" target="_blank"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/incontext/assets/47c58d2c-37c4-458e-88fc-815308f330fb.png&h=40" alt="" border="0" /></a>
        </div>
    </div>
    <div class="pulse-mobile-tracking" style="display:none;">
    </div>
</div>
<script src="/js/jsLoader.js"></script>
<script src="/js/player.js"></script>
<script src="/js/scripts.js"></script>
<!-- <script src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/js/mobile-300x250/scripts.min.js"></script> -->
<script type="text/javascript" src="https://wp-stat.s3.amazonaws.com/incontext/postpulse/loader.js?1">
</script>
<script type="text/javascript">
loadArticles(3449888, "mobile");
</script>
