<link rel="stylesheet" type="text/css" href="../css/main.css">
<div class="pulse-mobile-wrapper" data-click="%%CLICK_URL_ESC%%%%DEST_URL%%">
    <div class="pulse-mobile-header js-pulse-animate">
        <div class="pulse-article-label">
          <div class="pulse-article-label-small">Content Sponsored By Amazon Web Services</div>
          <div class="pulse-article-logo-wrapper">
            |<img src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/images/wp_logo.png" class="pulse-article-logo pulse-article-wp-logo pulse-article-logo-sm" border="0" width="23" />
          </div>
        </div>
    </div>
    <div class="pulse-mobile">

        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->
        <div id="articles"></div>
        <!-- THIS WILL BE FILLED WITH THE ARTICLES -->

    </div>
    <div class="pulse-mobile-footer pulse-mobile-footer-wrapper js-pulse-animate">
        <div class="pulse-mobile-footer-client-logo">
            <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" class="pulse-mobile-desc-link" target="_blank"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/incontext/assets/b5a7ac88-0c6b-4926-8070-26fb5350d5cb.png&h=40" alt="" border="0" /></a>
        </div>
    </div>
    <div class="pulse-mobile-tracking" style="display:none;">
        
    </div>
</div>
<script src="https://www.washingtonpost.com/wp-stat/advertising/PostPulse/js/mobile-300x250/scripts.min.js"></script>
<script type="text/javascript" src="https://wp-stat.s3.amazonaws.com/incontext/postpulse/loader.js?1">
</script>
<script type="text/javascript">
  loadArticles(3448639, "mobile");
</script>