<div>
    <link rel="stylesheet" type="text/css" href="../css/min/main-3.0.0.min.css" />
    <div class="pulse-mobile-wrapper pulse-sponsored pulse-feed" data-click="%%CLICK_URL_ESC%%%%DEST_URL%%" data-track="">
        <div class="pulse-mobile-header js-pulse-animate">
            <div class="pulse-article-label">
                <div class="pulse-article-label-small">Washington Post content selected by China Watch</div>
            </div>
            <div class="pulse-label-sponsor pulse-label-sponsor-all">
                <div class="pulse-article-label-small">Content from China Watch</div>
            </div>
        </div>
        <div class="pulse-mobile slick-slider" id="articles" data-sponsorall="true" data-feed="https://pulse-feed-proxy.ext.nile.works/?url=http://chinawatch.washingtonpost.com/feed" data-ad="{&quot;src&quot;:&quot;https://www.washingtonpost.com/wp-stat/ad/public/static/ad-builder/thoughtless-handsome-loaves/adv.jpg&quot;,&quot;type&quot;:&quot;image&quot;,&quot;url&quot;:&quot;http://chinawatch.washingtonpost.com/&quot;}"></div>
        <div class="pulse-mobile-footer pulse-mobile-footer-wrapper js-pulse-animate">
            <div class="pulse-mobile-footer-client-logo">
                <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" class="pulse-mobile-desc-link" target="_blank"><img src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://www.washingtonpost.com/wp-stat/ad/public/static/ad-builder/thoughtless-handsome-loaves/footer_links_v2.png&amp;h=53" alt="" class="pulse-mobile-footer-logo" style="border:0;width:43%;" /></a>
            </div>
        </div>
        <div class="pulse-tracking-wrapper" style="display:none;"></div>
    </div>
    <script src="../js/min/scripts-3.0.0.min.js"></script>
</div>